@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --light-blue:#00bfff ;
  --grey: grey;
  --silk-white: #e3e3e3 ;
}

* {
  font-family: 'Inter', sans-serif;
  scrollbar-width: thin;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--light-blue);
  border-radius: 10px;
}
  
  html, body {
    border: none;
    height: 100%;
    overflow-x: hidden;
    position: relative; /* add this line */
  }
  
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
    background-color: rgb(255, 255, 255);
  }
  

  .main {
    width: 100vw;
    height: 100vh;
    /* background-color: black; */
    background-blend-mode: multiply;
    background-image: url(./gradient-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    z-index: 99;
  /* border-bottom: 1px solid rgb(102, 102, 102); */
  }

  
  @media screen and (max-width: 768px) {
    .main {
      width: 100vw;
      position: absolute;
      overflow: hidden;
      height: 100vh;
      background-position: 80% 70%;
    }
  }
  

  .main-middle{
    position: relative;
    width: 100vw;
    height: 80vh;
    background-color: var(--silk-white);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
  }

  @media screen and (max-width: 768px) {
    .main-middle{
      top: 100vh;
    }
  }

  @media screen and (max-width: 426px) {
    .main-middle{
      height: 150vh;
    }
  }

  .main-bottom{
    position: relative;
    width: 100vw;
    height: 180vh;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }

  @media screen and (max-width: 768px) {
    .main-bottom{
      top: 100vh;
      height: 300vh;
    }
  }

  .whyus-main{
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  

  header {
    width: 100vw;
    height: auto;
    position: fixed;
    z-index: 7;
    top: 3%;
    background-color: transparent !important;
  }


  .black-header .navi-2 {
    color: white;
  }
  
  .black-navi a {
    color: black;
  }

  @media screen and (max-width: 426px) {
    header {
      display: none;
    }
  }  

  nav {
    position: absolute;
    left: 3%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: inline-block;
    width: auto;
    top: 50%;
    height: auto;
  }

  .navi-2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: inline-block;
    width: auto;
    margin-top: 5px;
    height: auto;
    transition: color 0.2s ease-in-out;
  }

  @media screen and (max-width: 950px) {
      .navi-2{
        display: none;
      }
  }

  #far-text {
    font-weight: 700 !important;
    letter-spacing: 0.1em;
    color: #ffffff;
    padding: 40px;
    font-size: 10px;
    text-decoration: inherit;
    cursor: pointer;
    transition: 0.5s;
  } 

  #far-text:hover {
    color: #b7b7b7;
  } 

  @media screen and (max-width: 1100px) {
    .far-text{
      padding: 30px;
      font-size: 8px;
    }
  }


  .button-buy {
    width: 160px;
    height: 40px;
    font-weight: 800 !important;
    font-family: Inter, Avenir, Arial, sans-serif;
    background-color: rgb(47, 130, 255);
    color: #ffffff;
    border-radius: 15px;
    font-size: 12px;
    position: relative;
    display: inline-block;
    font-weight: 400;
    transition: 0.5s;
    border-color: transparent;
    cursor: pointer;
  }
  
  .button-buy:hover {
    background-color: rgb(85, 47, 255);
  }

  
  .header-right {
    position: absolute;
    right: -2%;
    transform: translateX(-50%) translateY(30%) ;
    justify-content: space-between;
    display: inline-block;
    width: auto;
    height: auto;
  }

  .logo-container-2 {
    position: absolute;
    left: 44%;
    top: 5%;
  }

  .logo-container-sub {
    width: auto;
    height: auto;
  }

  .logo-container {
    position: relative;
    display: inline-block;
    margin: 0; /* to make the container only as wide as the images */
  }

  .logo {
    width: 40px;
    border-radius: 10px;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .logo-text {
    width: 130px;
    height: auto;
    position: absolute;
    left: 50px; /* adjust as needed */
    top: 0;
  }

  @media screen and (max-width: 1024px){
    img{
      width: 140px;
    }
  }

  
  @media screen and (max-width: 768px){
    img{
      width: 150px;
    }
  }

  .course-box{
    height: auto;
    position: absolute;
    left: 35%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  @media screen and (max-width: 426px) {
    .course-box{
      left: 50%;
      top: 30%;
    }
  }

  .course-box-h2{
    font-size: 2.2em;
    font-weight: 900;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
  }

  .course-box-h3{
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 2px;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
  }

  .course-box-h4{
    font-size: 1em;
    font-weight: 800;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 768px) {
    .course-box-h2{
     font-size: 1.5em;
    } 

    .course-box-h3{
      font-size: 0.9em;
     } 

    .course-box-h4{
      font-size: 0.7em;
     } 
   }

   @media screen and (max-width: 426px) {
    .course-box-h2{
     font-size: 2.2em;
    } 

    .course-box-h3{
      font-size: 1.2em;
     } 

    .course-box-h4{
      font-size: 1em;
     } 
   }

  .course-buy-box {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .button-course {
    display: inline-block;
    padding: 10px 30px;
    color: #ffffff;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 0.5em;
    background-color: rgb(83, 114, 255);
    border-color: transparent;
    border-radius: 15px;
    font-weight: 800 !important;
    transition: 0.5s;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  .button-course:hover {
    background-color: rgb(0, 9, 138);
  }
  
  .learn-text {
    display: inline-block;
    padding-left: 20px;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
  }

  .learn-text:hover{
    text-decoration: underline;
    cursor: pointer;
  }
    
  .book{
    position: absolute;
    height: 50vh;
    width: auto;
    top: 55%;
    left: 70%;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 20px;
    transform: translate(-50%, -50%);
    /* rotate(5deg) */
  }

  @media screen and (max-width:1100px){
    .book{
      height: 40vh;
      left: 80%;
    }
  }

  @media screen and (max-width:426px){
    .book{
      height: 30vh;
      left: 50%;
      top: 70%;
    }
  }

  .included-heading{
    position: relative;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -50%);
    font-size: 3.5vw;
    font-weight: 900;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .included-text{
    position: relative;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -50%);
    font-size: 1vw;
    font-weight: 500;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
  }

  @media screen and (max-width:426px){
    .included-heading{
      top: 5%;
      font-size: 5vw;
    }

    .included-text{
      font-size: 3vw;
      width: 70%;
    }
  }

  .main-content{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    top: 25%;
  }


  .main-heading{
    color: white;
    font-size: 3em;
    font-weight: 900;
    margin-bottom: 20px; 
  }

  .main-heading-h2{
    color: white;
    font-size: 2.5em;
    font-weight: 600;
    margin-top: 10px;
  }

  @media screen and (max-width: 768px) {
    .main-heading{
      font-size: 2em;
    }

    .main-heading-h2{
      font-size: 1.8em;
    }
  }

  .gradient-text-h2-1 {
    color: white;
    /* background: linear-gradient(to bottom left, #30d6ff, #9e22f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  }

  .gradient-text-h2-2 {
    background: linear-gradient(to bottom left, #ff30dc, #22b3f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  h5{
    text-align: center;
    font-size: 0.8em;
    font-weight: 500;
    color: rgb(144, 144, 144);
    box-sizing: border-box;
    margin-top: -10px;
    /* color: linear-gradient(135deg, rgb(83, 175, 255), #d400ff);
     background-image: transparent; */
  }

  .h5-container{
    margin-bottom:10px;
    max-width: 35rem;
  }

  @media screen and (max-width: 768px) {
    h5 {
      font-size: 0.8em;
    }
    
    .h5-container{
      margin-bottom: 10px;
      width: 70%;
    }
  }

  .included-container{
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-wrap: wrap;
      gap: 60px;
      justify-content: center;
      width: 100%;
  }

  @media screen and (max-width: 426px){
    .included-container{
      top: 25%;
      gap: 0px;
    }

  }

  .included-wrapper{
    position: relative;
    display: inline-block;
    padding: 40px;
  }

  .info-heading{
    position: relative;
    font-size: 1.5vw;
  }

  .bullet-point{
    color: var(--main-color);
    font-size: 1vw;
  }

  @media screen and (max-width: 768px){
    .info-heading{
      font-size: 3vw;
    }
  
    .bullet-point{
      font-size: 3vw;
    }
  }
  
  header{
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 7;
    top: 3%;
  }
  
  .right {
    align-items: center;
    text-align: center;
    position: absolute;
    text-shadow: 5px 5px 1px black;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 300;
    padding: 1em;
    font-size: 0.5vw;
    letter-spacing: .1rem;
  }
  

  .template-header{
    position: absolute;
    color: white;
    left: 50%;
    top: 12%; 
    transform: translate(-50%, -50%);
    font-size: 2.5vw;
    width: 100%;
    align-items: center;
    text-align: center;
  }
  
  .template-sub-header{
    position: absolute;
    color: white;
    left: 50%;
    width: 100%;
    top: 21%; 
    transform: translate(-50%, -50%);
    font-size: 2vw;
    text-align: center;
  }

  @media screen and (min-width: 2000px){
    .template-header{
      font-size: 2vw;
      top: 18%;
    }

    .template-sub-header{
      font-size: 1.5vw;
      top: 27%;
    }

  }

  
  @media screen and (max-width: 768px){
    .template-header{
      top: 18%;
      font-size: 3.8vw;
    }

    .template-sub-header{
      top: 23%;
      font-size: 3.5vw;
    }

  }
  
  
  .button-started {
    position: relative;
    bottom: 0;
    display: inline-block;
    padding: 10px 30px;
    color: #ffffff;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.2vw;
    background-color: rgb(83, 114, 255);
    border-color: transparent;
    border-radius: 15px;
    font-weight: 800 !important;
    transition: 0.5s;
    cursor: pointer;
    transition: 0.3s ease-in-out;

  }

  .button-started:hover {
    background-color: rgb(0, 9, 138);
  }


  @media screen and (max-width: 768px) {
    .button-started{
      font-size: 18px;
      width: 100%;
    }
    
  }
  
  .button-text-1 {
    color: rgb(255, 255, 255);
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    transition: 0.5s;
    font-size: 35px;
  }
  
  
  /* <----- Menu -----> */

  
  .menuButton {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 13%;
    color: #ffffff;
    width: 4em;
    height: 4em;
    border-radius: 20px;
    background: #313131b7;
    transition: all .3s;
  }
  
  
  .menuButton:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
               inset -4px -4px 12px #ffffff;
  }
  
  
  .menuButton span {
    width: 30px;
    height: 4px;
    background: #ffffff;
    border-radius: 100px;
    transition: 0.3s ease;
  }
  
  input[type]:checked ~ span.top {
    transform: translateY(290%)rotate(45deg);
    width: 40px;
  }
  
  input[type]:checked ~ span.bot {
    transform: translateY(-270%) rotate(-45deg);
    width: 40px;
    box-shadow: 0 0 10px #495057;
  }
  
  input[type]:checked ~ span.mid {
    transform: translateX(-20px);
    opacity: 0;
  }

  .menu{
    width: 50vw;
    height: 50vh;
    background-color: black;
  }

  
  /* <----- form-container -----> */
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    color: black;
    font-size: 12px;
    border-bottom: 3px solid #2b2b2b;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(224, 224, 224);
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=email], select, textarea {
    width: 100%;
    padding: 10px;
    color: black;
    font-size: 12px;
    background-color: rgb(224, 224, 224);
    border-bottom: 3px solid #2b2b2b;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=tel], select, textarea {
    width: 100%;
    padding: 10px;
    color: black;
    font-size: 12px;
    background-color: rgb(224, 224, 224);
    border-bottom: 2px solid #ff0000;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  
  input[type=submit] {
    /* background-color: #000000; */
    background-image: linear-gradient(135deg, rgb(83, 175, 255), #d400ff);
    /* background-image: linear-gradient(to bottom right,  to red); */
    color: white;
    width: 100%;
    padding: 10px 10px;
    border: none;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }
  
  input[type=submit]:hover {
    font-size: 15px;
  }
  
  .label-input{
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 500;
  }
  
  .form-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 20px;
    width: 60%;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
    background-color: rgb(198, 198, 198);
  }

  @media screen and (max-width: 768px){
    .form-container{
      top: 65%;
    }
    
  }
  

  /* ---------------------------------------------------------------- */


  #menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;
    display: none;
    -webkit-user-select: none;
    user-select: none;
  }

  @media screen and (max-width: 426px){
    #menuToggle {
      display: block;

    }
  }
  
  #menuToggle a {
    text-decoration: none;
    color: #ffffff;
  
    transition: color 0.3s ease;
  }
  
  #menuToggle a:hover {
    color: tomato;
  }
  
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;
  
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
  
    -webkit-touch-callout: none;
  }
  
  /*
   * Just a quick hamburger
   */
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
  
    background: #cdcdcd;
    border-radius: 3px;
  
    z-index: 1;
  
    transform-origin: 4px 0px;
  
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  
  /* 
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #cdcdcd;
  }
  
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  /*
   * Ohyeah and the last one should go the other direction
   */
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  /*
   * Make this absolute positioned
   * at the top left of the screen
   */
  #menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #000000e9;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  
  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }
  
  /*
   * And let's slide it in from the left
   */
  #menuToggle input:checked ~ ul {
    transform: none;
  }
  

  /* ------ footer -------- */

  footer {
    width: 100vw;
    height: 4vh;
    z-index: 10;
    position: fixed;
    bottom: 2%;
    margin: 0;
    align-items: center;
  }

  .navi-extra {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 5px 5px 1px black;
    font-weight: 300;
    padding: 1em;
    font-size: 0.5vw;
    letter-spacing: .1rem;
  }
  
  .navi-extra:hover {
    color: #a1a1a1;
  }


  .social {
    position: absolute;
    right: 0;
    margin: 0 30px;
  }
  
  .tos {
    position: absolute;
    margin: 0 30px;
  }

  /* ----------------------------------------------------------------------------------- */

  .card-container {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    width: 100%;
}

  @media screen and (max-width: 426px) {
    .card-container {
      top: 75%;
    }
  }

  .plan {
    position: relative;
    display: inline-block;
    border-radius: 16px;
    box-shadow: 30px 30px 30px -25px rgba(0, 0, 0, 0.5);
    padding: 10px;
    /* background-color: #ffffff; */
    background-color: rgb(218, 218, 218);
    color: #697e91;
    max-width: 300px;
    overflow: hidden;
  }

  @media screen and (max-width: 426px){
    .plan{
      zoom: 70%;
      display: block;
    }

  }

  .plan:hover {
    box-shadow: 30px 30px 30px -25px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }

  
  .plan strong {
    font-weight: 600;
    color: #425275;
  }
  
  .plan .inner {
    align-items: center;
    padding: 20px;
    padding-top: 40px;
    /* background-color: #ecf0ff; */
    background-color: var(--silk-white);
    border-radius: 12px;
    position: relative;
  }
  
  .plan .pricing {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #bed6fb;
    border-radius: 99em 0 0 99em;
    display: flex;
    align-items: center;
    padding: 0.5em 0.85em;
    font-size: 1.25rem;
    font-weight: 600;
    color: #425475;
  }
  
  .plan .pricing small {
    color: #707a91;
    font-size: 0.75em;
    margin-left: 0.25em;
  }
  
  .plan .title {
    font-weight: 600;
    font-size: 1.25rem;
    color: #425675;
  }
  
  .plan .title + * {
    margin-top: 0.75rem;
  }
  
  .plan .info + * {
    margin-top: 1rem;
  }
  
  .plan .features {
    display: flex;
    flex-direction: column;
  }
  
  .plan .features li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .plan .features li + * {
    margin-top: 0.75rem;
  }
  
  .plan .features .icon {
    background-color: #1FCAC5;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
  
  .plan .features .icon svg {
    width: 14px;
    height: 14px;
  }
  
  .plan .features + * {
    margin-top: 1.25rem;
  }
  
  .plan .action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  
  .plan .button {
    background-color: #6558d3;
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
    font-size: 1.125rem;
    text-align: center;
    border: 0;
    outline: 0;
    width: 100%;
    padding: 0.625em 0.75em;
    text-decoration: none;
  }
  
  .plan .button:hover, .plan .button:focus {
    background-color: #4133B7;
  }

  .limited{
    font-size: 3rem;
    /* text-decoration: underline; */
    font-weight: 900;
    position: relative;
    top: 33%;
    text-align: center;
  }

  @media screen and (max-width: 426px) {
    .limited {
      top: 37%;
      font-size: 2rem;
    }
  }

  
  @media screen and (max-width: 320px) {
    .limited {
      font-size: 1.5rem;
    }
  }

